@charset "UTF-8";
/*ESTILOS GENERALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #272727;
  min-height: 200vh;
  color: #FFF;
}

/*BARRA NAVEGACIÓN*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
  transition: background 250ms ease-in;
}
header .logo {
  position: relative;
  font-weight: 700;
  color: #FFF;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: ease-in 0.4s;
}
header .logo:hover {
  background-color: #92ad94;
  border-radius: 30px;
  padding: 0.4em;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  position: relative;
  color: #FFF;
  transition: all 500ms;
}
header ul li:hover {
  background-color: #92ad94;
  border-radius: 10px;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #FFF;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

header .sticky .logo,
header .sticky ul li a {
  color: #fff;
}

header .sticky {
  padding: 5px 100px;
  background-color: #272727;
}
header .sticky ul li a {
  color: #FFF;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(/assets/bg.jpg);
  background-size: cover;
}

.nav-scrolled {
  background-color: #f5fbef;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}
.nav-scrolled a {
  color: #000;
}
.nav-scrolled ul li {
  color: #000;
}

/*SECCIÓN INTRO*/
.intro {
  background-color: #272727;
}
.intro .intro-text {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 3em;
  margin-top: 3em;
  margin-bottom: 3em;
}
.intro .intro-text h1 {
  font-size: 3.5rem;
  margin-bottom: 2em;
}
.intro .intro-text h3 {
  font-weight: 300;
  margin-bottom: 3em;
  width: 95%;
}

/*SECCIÓN INTRO 2*/
.intro-2 {
  background-color: #92ad94;
  color: #000;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: flex-start;
}
.intro-2 .frontend {
  margin-top: 6em;
  margin-bottom: 10em;
  padding: 1em 1em 1em 1em;
  justify-content: flex-start;
  align-items: flex-start;
}
.intro-2 .frontend ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 1.5em;
}
.intro-2 .frontend ul .icons {
  margin-right: 5em;
}
.intro-2 .frontend ul .icons box-icon {
  font-size: 5em;
}
.intro-2 .backend {
  margin-top: 6em;
  margin-bottom: 10em;
  padding: 1em 1em 1em 1em;
  justify-content: flex-start;
  align-items: flex-start;
}
.intro-2 .backend ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 1.5em;
}
.intro-2 .backend ul .icons {
  margin-right: 3em;
}
.intro-2 h1 {
  font-size: 3rem;
}

/*SECCIÓN PROJECTS*/
.projects {
  background-color: #f5fbef;
  padding-bottom: 3em;
}
.projects h1 {
  color: #000;
  text-align: center;
  padding-top: 2em;
  margin-bottom: 2.5em;
  font-size: 3em;
}
.projects .card-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.projects .card-container .card {
  max-width: 300px;
  margin-left: 3em;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 10px;
  color: #000;
  transition: all 400ms;
  text-align: center;
}
.projects .card-container .card:hover {
  transform: scale(1.1);
}
.projects .card-container .card img {
  max-width: 300px;
}
.projects .card-container .card h4 {
  font-size: 0.9rem;
  margin-top: 0.5em;
  margin-left: 0.5em;
  padding-bottom: 5em;
}
.projects .card-container .card p {
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 0.75em;
}

/*SECCIÓN CONTACTO*/
.contact-container .contact-text {
  text-align: center;
  margin-bottom: 3.5em;
  margin-top: 3.5em;
}
.contact-container .contact-text h1 {
  font-size: 2.5rem;
}
.contact-container .contact-text h3 {
  font-size: 1.5rem;
}
.contact-container .contact-form {
  max-width: 600px;
  margin: auto;
  margin-bottom: 3em;
  width: 100%;
  display: grid;
  row-gap: 1rem;
}
.contact-container .contact-form input {
  border: none;
  outline: none;
  font-size: 0.9rem;
  padding: 15px;
  color: #000;
  background-color: #f5fbef;
  border-radius: 0.4rem;
  transition: all 400ms;
}
.contact-container .contact-form input:hover {
  transform: scale(1.05);
}
.contact-container .contact-form textarea {
  border: none;
  outline: none;
  font-size: 0.9rem;
  padding: 15px;
  color: #000;
  background-color: #f5fbef;
  border-radius: 0.4rem;
  transition: all 400ms;
}
.contact-container .contact-form textarea:hover {
  transform: scale(1.05);
}
.contact-container .contact-form .send-btn {
  background-color: #92ad94;
  max-width: 120px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 12px;
  cursor: pointer;
  transition: color 0.8s linear;
}
.contact-container .contact-form .send-btn:hover {
  background-color: #f5fbef;
  color: #92ad94;
  transition: 0.5s;
}

/* FOOTER CONTENT*/
footer {
  background-color: #92ad94;
}
footer .footer-main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 8em;
  padding-bottom: 5em;
  align-items: center;
}
footer .footer-main .div-footer-1 {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}
footer .footer-main .div-footer-1 h4 {
  font-weight: 300;
  letter-spacing: 0.25em;
}
footer .footer-main .div-footer-1 a {
  text-decoration: none;
  color: #FFF;
  transition: all 400ms;
}
footer .footer-main .div-footer-1 a:hover {
  transform: scale(1.15);
}
footer .footer-main .div-footer-2 {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
}
footer .footer-main .div-footer-2 a {
  text-decoration: none;
  color: #FFF;
  transition: all 400ms;
}
footer .footer-main .div-footer-2 a:hover {
  transform: scale(1.15);
}
footer .footer-main .linea {
  border-bottom: 9px solid #000;
}
footer .redes {
  width: 100%;
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 3em;
  align-items: center;
  text-align: center;
}
footer .redes .lista-redes {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
footer .redes .lista-redes li {
  margin: 2.5em;
  transition: all 300ms;
}
footer .redes .lista-redes li:hover {
  transform: scale(1.5);
}
footer .redes .lista-redes li a {
  color: #FFF;
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */