/*ESTILOS GENERALES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


body {
    background-color: #272727;
    min-height: 200vh;
    color: #FFF;
}

/*BARRA NAVEGACIÓN*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
    transition: background 250ms ease-in;
    .logo {
        position: relative;
        font-weight: 700;
        color: #FFF;
        text-decoration: none;
        font-size: 2rem;
        text-transform:lowercase;
        letter-spacing: 2px;
        transition: ease-in 0.4s;

        &:hover {
            background-color: #92ad94;
            border-radius: 30px;
            padding: 0.4em;
        }
    }

    ul {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            list-style: none;
            position: relative;
            color: #FFF;
            transition: all 500ms;

            &:hover {
                background-color: #92ad94;
                border-radius: 10px;
            }

            a {
                position: relative;
                margin: 0 15px;
                text-decoration: none;
                color: #FFF;
                letter-spacing: 2px;
                font-weight: 500px;
                transition: 0.6s
            }
        }
    }
    #icon {
        color: #FFF;
        font-size: 2rem;
        line-height: 80px;
        cursor: pointer;
        float: right;
        margin-right: 2em;
        display: none;
    }
}

header .sticky .logo,
header .sticky ul li a {
    color: #fff;
}

header .sticky {
    padding: 5px 100px;
    background-color: #272727;

    ul {
        li {
            a {
                color: #FFF;
            }
        }
    }
}


.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(/assets/bg.jpg);
    background-size: cover;
}

.nav-scrolled{
    background-color: #f5fbef;
    box-shadow: 0 3px 20px rgba($color: black, $alpha: 0.2);
    a{
        color: #000;
    }
    ul{
        li{
            color: #000;
        }
    }
    #icon{
        color: #000;
    }
}

@media screen and(max-width:909px) {
    header{
        padding: 0 0 0 0;
        .logo{
            font-size: 1.5rem;
            margin-left: 0.75em;
            margin-right: 1em;
            margin-top:0.25em;
        }
        ul{
            position: fixed;
            flex-direction: column;
            width: 100%;
            height: 100vh;
            background-color: #92ad94;
            top: 3em;
            left: -100%;
            text-align: center;
            transition: all .5s;
            li{
                display: block;
                margin: 1.5em 0em;
                a{
                    font-size: 1.3rem;
                }
            }
        }
        #icon{
            display: block;
            margin-right: 1em;
        }
    }
    header ul.show{
        left: 0;
    }
}




/*SECCIÓN INTRO*/

.intro {
    background-color: #272727;

    .intro-text {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 3em;
        margin-top: 3em;
        margin-bottom: 3em;

        h1 {
            font-size: 3.5rem;
            margin-bottom: 2em;
        }

        h3 {
            font-weight: 300;
            margin-bottom: 3em;
            width: 95%;
        }
    }
}


/*SECCIÓN INTRO 2*/

.intro-2 {
    width: 100%;
    background-color: #92ad94;
    color: #000;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: flex-start;

    .frontend {
        width: 100%;
        margin-top: 6em;
        margin-bottom: 10em;
        padding: 1em 1em 1em 1em;
        justify-content: flex-start;
        align-items: flex-start;

        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            margin-top: 1.5em;
            .icons{
                margin-right: 5em;
                box-icon{
                    font-size: 5em;
                }
            }
        }
    }

    .backend {
        width: 100%;
        margin-top: 6em;
        margin-bottom: 10em;
        padding: 1em 1em 1em 1em;
        justify-content: flex-start;
        align-items: flex-start;
        ul{
            list-style: none;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            margin-top: 1.5em;
            .icons{
                margin-right: 3em;
            }
        }
    }

    h1 {
        font-size: 3rem;
    }
}

@media screen and(max-width:1024px) {
    .intro-2{
        flex-direction: column;
    }
}

@media screen and (max-width:480px) {
    .intro-2{
        flex-direction: column;
        .frontend{
            ul{
                flex-direction: column;
            }
        }
        .backend{
            ul{
                flex-direction: column;
            }
        }
    }
}

/*SECCIÓN PROJECTS*/

.projects {
    width: 100%;
    background-color: #f5fbef;
    padding-bottom: 3em;

    h1 {
        color: #000;
        text-align: center;
        padding-top: 2em;
        margin-bottom: 2.5em;
        font-size: 3em;
    }

    .card-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;

        .card {
            max-width: 300px;
            margin-left: 3em;
            box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
            border-radius: 10px;
            color: #000;
            transition: all 400ms;
            text-align: center;

            &:hover {
                transform: scale(1.1);
            }

            img {
                max-width: 300px;
            }

            h4 {
                font-size: 0.90rem;
                margin-top: 0.5em;
                margin-left: 0.5em;
                padding-bottom: 5em;
            }

            p {
                margin-top: 0.5em;
                margin-left: 0.5em;
                margin-bottom: 0.75em;
            }
        }
    }
}

@media screen and (max-width:1024px) {
    .projects{
        .card-container{
            flex-wrap: wrap;
            .card{
                margin-bottom: 3em;
            }
        }
    }
}

@media screen and (max-width:480px) {
    .projects{
        .card-container{
            flex-direction: column;
            .card{
                margin-bottom: 2em;
            }
        }
    }
}

/*SECCIÓN CONTACTO*/

.contact-container {
    .contact-text {
        text-align: center;
        margin-bottom: 3.5em;
        margin-top: 3.5em;

        h1 {
            font-size: 2.5rem;
        }

        h3 {
            font-size: 1.5rem;
        }
    }

    .contact-form {
        max-width: 600px;
        margin: auto;
        margin-bottom: 3em;
        width: 100%;
        display: grid;
        row-gap: 1rem;

        input {
            border: none;
            outline: none;
            font-size: 0.9rem;
            padding: 1em;
            color: #000;
            background-color: #f5fbef;
            border-radius: 0.4rem;
            transition: all 400ms;

            &:hover {
                transform: scale(1.05);
            }
        }

        textarea {
            border: none;
            outline: none;
            font-size: 0.9rem;
            padding: 1em;
            color: #000;
            background-color: #f5fbef;
            border-radius: 0.4rem;
            transition: all 400ms;

            &:hover {
                transform: scale(1.05);
            }
        }

        .send-btn {
            background-color: #92ad94;
            max-width: 120px;
            font-size: 1rem;
            letter-spacing: 1px;
            font-weight: 500;
            padding: 12px;
            cursor: pointer;
            transition: color 0.8s linear;

            &:hover {
                background-color: #f5fbef;
                color: #92ad94;
                transition: 0.5s;

            }

        }
    }
}



/* FOOTER CONTENT*/

footer {
    background-color: #92ad94;

    .footer-main {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-top: 8em;
        padding-bottom: 5em;
        align-items: center;

        .div-footer-1 {
            display: flex;
            flex-direction: column;
            font-size: 1.25rem;

            h4 {
                font-weight: 300;
                letter-spacing: 0.25em;
            }

            a {
                text-decoration: none;
                color: #FFF;
                transition: all 400ms;

                &:hover {
                    transform: scale(1.15);
                }
            }
        }

        .div-footer-2 {
            font-size: 1.25rem;
            display: flex;
            flex-direction: column;

            a {
                text-decoration: none;
                color: #FFF;
                transition: all 400ms;

                &:hover {
                    transform: scale(1.15);
                }
            }
        }

        .linea {
            border-bottom: 9px solid #000;
        }
    }

    .redes {
        width: 100%;
        border-top: 1px solid #000;
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 3em;
        align-items: center;
        text-align: center;

        .lista-redes {
            display: flex;
            justify-content: space-evenly;
            list-style: none;

            li {
                margin: 2.5em;
                transition: all 300ms;

                &:hover {
                    transform: scale(1.50);
                }

                a {
                    color: #FFF;
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (max-width:480px) {
    footer{
        .footer-main{
            align-items: flex-start;
            flex-direction: column;
            margin-left: 2em;
            .div-footer-1{
                margin-bottom: 2em;
            }
        }
    }
}